# ── immich — env vars
# Auto-filled by bootstrap/password.

DB_USERNAME=immich
DB_PASSWORD=changeme
DB_DATABASE_NAME=immich
DB_DATA_LOCATION=/opt/dockge_data/immich/pg
UPLOAD_LOCATION=/opt/dockge_data/immich/upload
IMMICH_VERSION=release
